scipy
matplotlib
pandas
numpy
networkx>=2.0
tabulate
ipython
seaborn
scikit-learn
cython
git+https://github.com/clbarnes/bctpy.git@71-mod-dir
pytest
tqdm

# required, but needs everything else to be installed first
# networkit
